:root {
  --background-color: hsl(0, 5%, 15%);
  --shadow-color: hsla(0, 0%, 0%, 0.6);
}

body {
  color: white;
  min-height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: var(--background-color);
  transition: all 1000ms;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--column {
  flex-direction: column;
}

.full {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
}

.corner--right {
  justify-self: end;
}

.corner--left {
  justify-self: start;
}

.button {
  font-family: inherit;
  background-color: hsl(0, 0%, 64%);
  border-radius: 0;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0.1em;
  box-shadow: 0.1em 0.1em 0 var(--shadow-color);
  transition: all 50ms;
}

.button:hover {
  box-shadow: 0.15em 0.15em 0 var(--shadow-color);
  transform: scale(1.02);
}

.button:focus {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1.2);
}

.button--big {
  font-size: 3rem;
}

.button--main {
  background-color: hsl(59, 100%, 50%);
}

.button--dark {
  background-color: hsl(0, 0%, 10%);
  color: white;
}